.resultTable {
  vertical-align: middle;
  padding-left: 1%;
  padding-bottom: 1%;
  width: 80%;
  margin: 20px auto;
}

.main-title {
  margin-top: 30px;
  margin-left: 70px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

.resultTh {
  background-color: #1b2430;
  color: white;
  width: 10%;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
}

.resultTh-title {
  background: #1b2430;
  color: white;
  width: 15%;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
}

.resultTd {
  width: 20%;
  background: #f7f7f7;
  border-radius: 5px;
}

.totalResultbar {
  color: white;
  width: 100%;
  height: 37px;
  background: #f7f7f7;
  position: relative;
  float: left;
  border-radius: 5px;
  margin-right: 20px;
}

.barStyle {
  background: #17cf97;
  border: none;
  height: 37px;
  border-radius: 5px;
}

.result-container {
  justify-content: space-between;
}

.download-button button {
  width: 150px;
  height: 45px;
  background: #1b2430;
  border-radius: 7px;
  border: none;
  color: #dedede;
  font-weight: 600;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 45px;
  margin-right: 80px;
  margin-left: 300px;
}

.download-button button:hover {
  cursor: pointer;
}

.mainContainer {
  margin-top: 35px;
  margin-right: 60px;
  margin-left: 60px;
  background: #f7f7f7;
  height: 550px;
  border-radius: 15px;
}

.video {
  display: flex;
}

.video video {
  background: #dedede;
  width: 50%;
  height: 330px;
  padding: 20px;
  margin: 50px 70px;
  border-radius: 10px;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%; /* 막대의 초기 색상 비율 설정 */
  background-color: red; /* 막대의 초기 색상 설정 */
}
.Container::after {
  content: "";
  clear: both;
  display: table;
}

.timelines {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.timeline {
  width: 50px;
  height: 50px;
  background: #1b2430;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 530;
  margin: 0 20px;
}



.timelines .timeline:hover {
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .resultTh {
    width: 20%;
  }

  .video video {
    background: #dedede;
    width: 35%;
    height: 300px;
    padding: 20px;
    margin: 50px 54px;
    border-radius: 10px;
  }
}